.eventCardWrapper {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 220px;
  height: 100px;
  background-color: hsl(228, 28%, 20%);

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  padding: 15px;
  box-sizing: border-box;

  .type {
    color: hsl(228, 34%, 66%);
  }

  .platformIcon {
    place-self: start end;
  }

  .amount {
    place-self: end start;
    font-size: 35px;
    line-height: 1;
    color: white;
  }

  .modifier {
    place-self: end end;
    color: hsl(163, 72%, 41%);
  }
}
