.title {
  color: white;
  font-weight: 700;
  font-size: 1.3em;
  padding: 20px 0;
}

.eventsCardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}
