.platformsWrapper {
  padding: 30px 0;
}

.header {
  position: relative;

  .title {
    color: white;
    font-weight: 700;
    font-size: 1.6em;
  }

  .totalFollowers {
    font-weight: 700;
    color: hsl(228, 34%, 66%);
  }

  .themeCheck {
    display: none;
    appearance: none;
  }

  .ctLabel {
    position: absolute;
    top: 0;
    right: 0;

    width: 50px;
    height: 30px;
    border-radius: 15px;

    background-image: linear-gradient(
      to right,
      hsl(210, 78%, 56%),
      hsl(146, 68%, 55%)
    );

    padding: 5px;
    box-sizing: border-box;

    &::before {
      position: absolute;
      top: 50%;
      left: 0;
      white-space: nowrap;
      font-weight: 700;
      transform: translate(-120%, -50%);
      content: "Dark Mode";
      display: block;
      color: hsl(228, 34%, 66%);
    }

    &::after {
      content: "";
      display: block;
      height: 20px;
      width: 20px;
      border-radius: 10px;
      background-color: hsl(232, 19%, 15%);
    }
  }
}

.followersCardContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
  padding-top: 30px;
}
